.word {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    color: gainsboro;
}

.word-active {
    -webkit-animation: wordActive 850ms infinite;
    -moz-animation: wordActive 850ms infinite;
    -o-animation: wordActive 850ms infinite;
    animation: wordActive 850ms infinite;
}

@-webkit-keyframes wordActive {

    0%,
    49% {
        background-color: gold;
        color: black;
    }

    50%,
    100% {
        background-color: rgba(0, 0, 0, 0);
        color: white;
    }
}

.word-correct {
    color: #22ca7c;
    /* background-color: green; */
}

.word-incorrect {
    color: white;
    background-color: red;
}