.first {
    /* background-color: dark gold */
    background-color: #b8860b;
}

.second {
    /* background-color: dark gray */
    background-color: #a9a9a9;
}

.third {
    /* background color: dark bronze */
    background-color: #8b4513;
}